{{> head}}


    {{> navbar }}

    <div class="row">
        
        <div class="col-8">
            <h1>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Repellendus eaque provident eos accusantium doloribus, eveniet maiores ut optio, 
                voluptate cum possimus quibusdam magnam excepturi qui placeat cupiditate ipsam modi quasi.
            </h1>
        </div>

        <div class="col-4">

            <img src="assets/img/node.png" class="img-thumbnail">

        </div>

    </div>

   {{> footer}}